.reveal .slides section .fragment.strike, .reveal .slides section .fragment.underline {
  opacity: 1;
  visibility: visible; }

.reveal .slides section .fragment.strike.visible {
  text-decoration: line-through; }

.reveal .slides section .fragment.underline.visible {
  text-decoration: underline; }

.reveal .row-eq-height, .reveal .row-eq-height > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.reveal .row-eq-height > div[class*='col-'] > .panel, .reveal .row-eq-height > div[class*='col-'] > .well {
  width:100%;
}

.noborder {
  border: none !important;
  box-shadow: none !important; }

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

svg .node circle, .node rect {
  cursor: pointer;
  fill: #fff;
  stroke: black;
  stroke-width: 1px;
}

svg path.link {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
